/*-----------超链接样式---------------
 说明: 伪类:link :visited :hover分别代表超链接的通常、被访问后、和鼠标接触链接是的样式
 a标签代表通用超链接样式
 .menuA代表Blog导航条菜单的样式
 .titleA代表日志标题的样式
 .sideA代表侧栏的超链接样式
 .CategoryA代表树形分类的链接样式
 .more代表更多链接的样式
------------------------------------*/
 a:link,a:visited{COLOR: #0079b7; TEXT-DECORATION: none}
 a:hover{COLOR: #0079b7; TEXT-DECORATION: underline}

 .menuA{BACKGROUND: url(images/button.png) no-repeat -74px 0px;}
 .menuA:link,.menuA:visited{BACKGROUND: url(images/button.png) no-repeat -74px 0px; COLOR: #fff; TEXT-DECORATION: none;}  
 .menuA:hover{BACKGROUND: url(images/button.png) no-repeat -74px -29px; COLOR: #fff; TEXT-DECORATION: none;} 

 .titleA{BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px}
 .titleA:link,.titleA:visited{COLOR: #ff7a15; TEXT-DECORATION: none}
 .titleA:hover{COLOR: #ff7a15; TEXT-DECORATION: underline}

 .sideA:link,.sideA:visited{text-decoration:none;padding-left:20px;background:url(images/sidebar_list.gif) 0px 1px no-repeat;overflow:hidden;display:block;margin-bottom:2px;width:170px;height:20px;}
 .sideA:hover{text-decoration:underline;overflow:hidden}

 .CategoryA:link,.CategoryA:visited{text-decoration:none;}
 .CategoryA:hover{text-decoration:underline;}
 
 .more:link,.more:visited{margin:5px; margin-left:0px; text-decoration:none;}
 .more:hover{font-weight:bold;}  

 .blogsetA:link,.blogsetA:visited{padding:0px 9px 4px 16px ; background:url(../../images/tools.gif) no-repeat;text-decoration:none}
 .mp3A:link,.mp3A:visited{padding:0px 0px 4px 16px; background:url(../../images/mm_snd.gif) no-repeat;text-decoration:none}
 .collA:link,.collA:visited{padding:0px 0px 4px 16px; background:url(../../images/MyFa.gif) no-repeat;text-decoration:none}
 .aboutA:link,.aboutA:visited{padding:0px 0px 4px 16px; background:url(../../images/ico_skdaq.gif) no-repeat;text-decoration:none}
 .normalA:link,.normalA:visited{padding:0px 12px 4px 16px; background:url(../../images/icon_normal.gif) no-repeat;text-decoration:none}
 .listA:link,.listA:visited{padding:0px 0px 4px 16px; background:url(../../images/icon_topic.gif) no-repeat;text-decoration:none}
 .commentA:link,.commentA:visited{padding:0px 0px 4px 14px; background:url(../../images/icon_offsite_red.gif) no-repeat -2px 3px;text-decoration:none}
 /*---超链接样式定义结束---*/